<main class="main">
 <div class="wrapper">
    <% if user_signed_in? %>
      <div class="side-bar">
        <%= render "side_bar" %>
      </div>
      <div class="inner">

        <div class="greeting" >
        <%= "ようこそ、" %>
        <%= link_to "#{current_user.name}さん", user_path(current_user.id), class: :greeting__link%>
      </div >
    <% end %>

    <div class="card__wrapper">

      <%= render partial: 'book', collection: @books %>
      
    </div>
    </div>
  </div>
</main>
