<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">本の追加</h2>
        <%# 部分テンプレートでフォームを表示する %>
        <%= render  "form" %>
    </div>
  </div>
</div>